.table {
     tr td img {
          width: 80px !important;
          height: 80px !important;
          object-fit: cover;
     }
     td span i {
          font-size: 1.2rem;
          cursor: pointer;
     }
     td,
     th {
          color: var(--primary-color);
     }
}
